.education-wrap {
    padding-top: 3rem;
    margin-bottom: 6rem;
    background: linear-gradient(35deg, #11cdef, #1171ef) !important;
    position: relative;
    /* clip-path: polygon(0 0, 100% 0%, 100% 94%, 0% 100%); */
    width: 100%;
    height: 50vh;
    z-index: 0;
}

.education-container {
    max-width: 1000px;
    margin: 0 auto;
    height: 50vh;
}

.header {
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
    color: var(--white);
    align-items: center;
}

.header .h1 {
    color: var(--white);
}

.header svg {
    width: 4.5rem;
    height: 4.5rem;
    background-color: var(--white);
    color: var(--blue);
    padding: 15px;
    border-radius: 50%;
}

.education-box {
    max-width: 500px;
    width: 100%;
    height: 30vh;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: start;
    margin-top: 30px;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.education-box .p {
    padding: 2px 0;
}

.education-box .spans {
    padding: 4px 0;
}

.education-box .spans span {
    margin-right: 7px;
}

.education-box .spans span:nth-child(1) {
    background-color: var(--navy-blue);
    color: var(--white);
    padding: 1px 2px;
    border-radius: 3px;
}
.education-box .spans span:nth-child(2) {
    background-color: var(--body);
    color: var(--white);
    padding: 1px 2px;
    border-radius: 3px;
}

@media (max-width: 1020px) {

    .education-container {
        padding: 0 1rem 0 1rem;
    }

    .education-box {
        max-width: 1020px;
        align-items: center;
    }

}